#header{
        background-color:black;align-content: center;padding-bottom: 30px;color: white;text-shadow: 5px 5px 5px gray; 

}
#fotter{
        background-color: rgb(199, 199, 199);padding: 14px;
}
.one{
        margin-right: 9px;color: blue;
        display: inline;
}
#one{
         color: blue;
         
}
#highlights{
        
        box-shadow: 10px;
        
}
#a{
        display: inline-block;

}
